@import url("../components/pop.css");
:root {
  /* general vars */
  --color-text-highlight: #3b7fa4;
  --color-text-white: #ffffff;
  --color-text-black: #000000;
  --border-radius: 0.5rem;
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* light theme colors */
  --background-color-primary: #ffffff;
  --background-color-secondary: #f6f7f9;
  --color-text-primary: #23272f;
  --color-text-secondary: #404756;
  --background-color-active-link: #e6f7ff;
  --color-border: #e2e8f0;

  /* dark theme colors */
  /* 
  --background-color-primary: #23272F;  
  --background-color-secondary: #343A46;  
  --color-text-primary: #F6F7F9;
  --color-text-secondary: #E6E7EA; 
  --background-color-active-link: #263541;
  --color-border: #333333;
  */
}
body {
  background-color: var(--background-color-primary);
}
.active-theme {
  color: var(--color-text-highlight);
}
.header {
  border-bottom: 1px solid var(--color-border);
  width: 100%;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
.brand {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-text-primary);
}
.nav {
  display: flex;
  gap: 2rem;
}
.nav-border-right {
  border-right: 1px solid var(--color-border);
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.nav-link {
  text-decoration: none;
  color: var(--color-text-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}
button.nav-link {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  height: calc(100vh - 61px);
  display: flex;
  align-items: stretch;
  max-width: 1200px;
  margin: 0 auto;
}

.sidebar {
  flex-basis: 300px;
  padding: 0 1rem;
}

.main {
  flex-basis: calc(100% - 300px);
  flex-grow: 1;
  padding: 1.5rem 2.5rem;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.main::-webkit-scrollbar {
  display: none;
}

.sidebar-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.sidebar-link {
  display: inline-block;
  width: 100%;
  border-radius: var(--border-radius);
  padding: 1rem 0 1rem 1rem;
  text-decoration: none;
  color: var(--color-text-secondary);
}
.sidebar-link:hover {
  background-color: var(--background-color-secondary);
}

.sidebar-link-active {
  color: var(--color-text-highlight);
  background-color: var(--background-color-active-link);
}
.sidebar-link-active:hover {
  background-color: var(--background-color-active-link);
}
.heading {
  font-weight: 500;
  font-size: 2rem;
  color: var(--color-text-primary);
  margin-bottom: 1.2rem;
}
.sub-heading {
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--color-text-primary);
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.text-primary {
  font-size: 1.2rem;
  color: var(--color-text-primary);
  line-height: 2rem;
}

.text-secondary {
  color: var(--color-text-secondary);
  line-height: 1.6rem;
}

.component-container {
  background-color: var(--background-color-secondary);
  border-radius: var(--border-radius);
  margin: 2rem 0;
  padding: 1rem;
}

.code-container {
  background-color: var(--background-color-primary);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  margin: 2rem 0;
  overflow: hidden;
}

.prev-next-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.prev-next-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 1.5rem 2.5rem;
  color: var(--color-text-secondary);
  border-radius: var(--border-radius);
}
.prev-next-link:hover {
  background-color: var(--background-color-secondary);
}
.prev-next-link span {
  padding: 0 1rem;
}

.prev-next-link-item {
  color: var(--color-text-highlight);
  margin-top: 0.5rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 0 2rem 0;
}

.footer-copyright {
  color: var(--color-text-primary);
  font-size: 0.8rem;
}
.material-icons-outlined.md-18 {
  font-size: 18px;
}

.flex-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
