<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/style.css" />
    <title>Avatar | 💥 PopCSS Component Library</title>
  </head>
  <body>
    <header class="header">
      <div class="nav-container">
        <div class="brand">💥 PopCSS</div>
        <nav class="nav">
          <ul class="nav-list">
            <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Docs</a></li>
          </ul>
          <span class="nav-border-right"></span>
          <ul class="nav-list">
            <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Docs</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="container">
      <aside class="sidebar">Aside</aside>
      <main class="main">
          <p>Main</p>
        <footer class="footer"></footer>
      </main>
    </section>
  </body>
</html>
