.pop-avatar {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-avatar-sm {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.6rem;
}

.pop-avatar-md {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.8rem;
}

.pop-avatar-lg {
  width: 3.5rem;
  height: 3.5rem;
}
