@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("./avatar/avatar.css");
@import url("./alert/alert.css");
@import url("./badge/badge.css");
:root {
  --color-primary: #0d6efd;
  --color-secondary: #6c757d;
  --color-success: #4a8855;
  --color-danger: #dd4a45;
  --color-warning: #f5c004;
  --color-info: #66ccf1;
  --color-light: #f8f9fa;
  --color-dark: #212529;
  --color-light-gray: #eeeeee;
}

*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Utility classes */
.pop-responsive {
  width: 100%;
}
.pop-rounded {
  border-radius: 50%;
}

.pop-bg-primary {
  background-color: var(--color-primary);
}
.pop-bg-secondary {
  background-color: var(--color-secondary);
}
.pop-bg-success {
  background-color: var(--color-success);
}
.pop-bg-danger {
  background-color: var(--color-danger);
}
.pop-bg-warning {
  background-color: var(--color-warning);
}
.pop-bg-info {
  background-color: var(--color-info);
}

.pop-text-primary {
  color: var(--color-primary);
}
.pop-text-secondary {
  color: var(--color-secondary);
}
.pop-text-success {
  color: var(--color-success);
}
.pop-text-danger {
  color: var(--color-danger);
}
.pop-text-warning {
  color: var(--color-warning);
}
.pop-text-info {
  color: var(--color-info);
}

.pop-absolute {
  position: absolute;
}
.pop-relative {
  position: relative;
}
