<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../../assets/favicon.png" />
    <link rel="stylesheet" href="../../css/style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/github-dark.min.css"
    />
    <script
      async
      src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"
    ></script>

    <title>Badge | PopCSS Component Library</title>
  </head>
  <body>
    <header class="header">
      <div class="nav-container">
        <div class="brand">💥 PopCSS</div>
        <nav class="nav">
          <ul class="nav-list">
            <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Docs</a></li>
          </ul>
          <span class="nav-border-right"></span>
          <ul class="nav-list">
            <li class="nav-item">
              <button onclick="toggleTheme()" class="nav-link">
                <span class="material-icons-outlined active-theme">
                  tungsten
                </span>
              </button>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="material-icons-outlined"> open_in_new </span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="container">
      <aside class="sidebar">
        <h3 class="sub-heading">Components</h3>
        <ul class="sidebar-list">
          <li class="sidebar-item">
            <a class="sidebar-link" href="./../avatar/avatar.html">Avatar</a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="./../alert/alert.html">Alert</a>
          </li>
          <li class="sidebar-item sidebar-item-active">
            <a class="sidebar-link sidebar-link-active" href="./badge.html"
              >Badge</a
            >
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="#">Cards</a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="#">Lists</a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="#">Badge</a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="#">Grid</a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="#">Image</a>
          </li>
        </ul>
      </aside>
      <main class="main">
        <h2 class="heading">Badge</h2>
        <p class="text-primary">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
          beatae, est rerum mollitia excepturi iusto voluptatem magnam
          dignissimos, fugit voluptate, architecto esse.
        </p>
        <h3 class="sub-heading">Badge on Avatar</h3>
        <p class="text-secondary">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta fugit
          amet totam, maxime eveniet minima tenetur velit recusandae assumenda
          fuga odio debitis asperiores eum commodi cupiditate illum. Inventore,
          laborum voluptas a perferendis cumque fugiat id officia dicta est
          aliquam officiis!
        </p>
        <div class="component-container">
          <div class="flex-container">
            <div class="pop-avatar pop-avatar-sm pop-relative">
              <img
                class="pop-responsive pop-rounded"
                src="https://picsum.photos/200"
                alt="Avatar"
              />
              <span class="pop-badge pop-absolute">99+</span>
            </div>
            <div class="pop-avatar pop-avatar-md pop-relative">
              <img
                class="pop-responsive pop-rounded"
                src="https://picsum.photos/200"
                alt="Avatar"
              />
              <span class="pop-badge pop-absolute pop-bg-danger">5</span>
            </div>
            <div class="pop-avatar pop-avatar-lg pop-relative">
              <img
                class="pop-responsive pop-rounded"
                src="https://picsum.photos/200"
                alt="Avatar"
              />
              <span class="pop-badge pop-absolute pop-bg-info">99+</span>
            </div>
          </div>
        </div>

        <div class="code-container">
          <pre><code>
            &lt;div class="pop-avatar pop-avatar-sm pop-relative"&gt;
                &lt;img
                  class="pop-responsive pop-rounded"
                  src="https://picsum.photos/200"
                  alt="Avatar"
                /&gt;
                &lt;span class="pop-badge pop-absolute"&gt;99+&lt;/span&gt;
            &lt;/div&gt;
            &lt;div class="pop-avatar pop-avatar-md pop-relative"&gt;
                &lt;img
                  class="pop-responsive pop-rounded"
                  src="https://picsum.photos/200"
                  alt="Avatar"
                /&gt;
                &lt;span class="pop-badge pop-absolute pop-bg-danger"&gt;5&lt;/span&gt;
            &lt;/div&gt;
            &lt;div class="pop-avatar pop-avatar-lg pop-relative"&gt;
                &lt;img
                  class="pop-responsive pop-rounded"
                  src="https://picsum.photos/200"
                  alt="Avatar"
                /&gt;
                &lt;span class="pop-badge pop-absolute pop-bg-info"&gt;99+&lt;/span&gt;
            &lt;/div&gt;
          </code></pre>
        </div>

        <h3 class="sub-heading">Badge on Text Avatar</h3>
        <p class="text-secondary">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta fugit
          amet totam, maxime eveniet minima tenetur velit recusandae assumenda
          fuga odio debitis asperiores eum commodi cupiditate illum. Inventore,
          laborum voluptas a perferendis cumque fugiat id officia dicta est
          aliquam officiis!
        </p>
        <div class="component-container">
          <div class="flex-container">
            <div class="pop-avatar pop-avatar-sm pop-bg-danger pop-relative">
              WB
              <span class="pop-badge pop-absolute">99+</span>
            </div>
            <div class="pop-avatar pop-avatar-md pop-bg-success pop-relative">
              JN
              <span class="pop-badge pop-absolute">99+</span>
            </div>
            <div class="pop-avatar pop-avatar-lg pop-bg-warning pop-relative">
              PW
              <span class="pop-badge pop-absolute">99+</span>
            </div>
          </div>
        </div>

        <div class="code-container">
          <pre><code>
            &lt;div class="pop-avatar pop-avatar-sm pop-bg-danger pop-relative"&gt;
                WB
                &lt;span class="pop-badge pop-absolute"&gt;99+&lt;/span&gt;
            &lt;/div&gt;
            &lt;div class="pop-avatar pop-avatar-md pop-bg-success pop-relative"&gt;
                JN
                &lt;span class="pop-badge pop-absolute"&gt;99+&lt;/span&gt;
            &lt;/div&gt;
            &lt;div class="pop-avatar pop-avatar-lg pop-bg-warning pop-relative"&gt;
                PW
                &lt;span class="pop-badge pop-absolute"&gt;99+&lt;/span&gt;
            &lt;/div&gt;
          </code></pre>
        </div>

        <h3 class="sub-heading">Badge on Icons</h3>
        <p class="text-secondary">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta fugit
          amet totam, maxime eveniet minima tenetur velit recusandae assumenda
          fuga odio debitis asperiores eum commodi cupiditate illum. Inventore,
          laborum voluptas a perferendis cumque fugiat id officia dicta est
          aliquam officiis!
        </p>
        <div class="component-container">
          <div class="flex-container">
            <div class="pop-avatar pop-avatar-sm pop-relative">
              <span class="material-icons-outlined md-18"> phone_in_talk </span>
              <span class="pop-badge pop-absolute">99+</span>
            </div>
            <div class="pop-avatar pop-avatar-md pop-relative">
              <span class="material-icons-outlined"> notifications </span>
              <span class="pop-badge pop-absolute">99+</span>
            </div>
            <div class="pop-avatar pop-avatar-lg pop-relative">
              <span class="material-icons-outlined"> shopping_cart </span>
              <span class="pop-badge pop-absolute">99+</span>
            </div>
          </div>
        </div>
        <div class="code-container">
          <pre><code>
            &lt;div class="pop-avatar pop-avatar-sm pop-relative"&gt;
                &lt;span class="material-icons-outlined md-18"&gt; phone_in_talk &lt;/span&gt;
                &lt;span class="pop-badge pop-absolute"&gt;99+&lt;/span&gt;
            &lt;/div&gt;
            &lt;div class="pop-avatar pop-avatar-md pop-relative"&gt;
                &lt;span class="material-icons-outlined"&gt; notifications &lt;/span&gt;
                &lt;span class="pop-badge pop-absolute"&gt;99+&lt;/span&gt;
            &lt;/div&gt;
            &lt;div class="pop-avatar pop-avatar-lg pop-relative"&gt;
                &lt;span class="material-icons-outlined"&gt; shopping_cart &lt;/span&gt;
                &lt;span class="pop-badge pop-absolute"&gt;99+&lt;/span&gt;
            &lt;/div&gt;
          </code></pre>
        </div>
        <div class="prev-next-container">
          <a class="prev-next-link" href="./../alert/alert.html">
            <span class="material-icons-outlined"> navigate_before </span>
            <div>
              <p>PREV</p>
              <p class="prev-next-link-item">Alerts</p>
            </div>
          </a>
          <a class="prev-next-link" href="#">
            <div>
              <p>NEXT</p>
              <p class="prev-next-link-item">Button</p>
            </div>
            <span class="material-icons-outlined"> navigate_next </span>
          </a>
        </div>
        <footer class="footer">
          <div class="footer-copyright">&copy;2022 wasifbaliyan</div>
          <ul class="nav-list">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="material-icons-outlined md-18">
                  favorite_border
                </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="material-icons-outlined md-18"> favorite </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="material-icons-outlined md-18">
                  favorite_border
                </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="material-icons-outlined md-18"> favorite </span>
              </a>
            </li>
          </ul>
        </footer>
      </main>
    </section>
    <script>
      hljs.initHighlightingOnLoad();
      let isLightTheme = true;
      const root = document.querySelector(":root");
      function toggleTheme() {
        isLightTheme = !isLightTheme;
        if (isLightTheme) {
          root.style.setProperty("--background-color-primary", "#ffffff");
          root.style.setProperty("--background-color-secondary", "#f6f7f9");
          root.style.setProperty("--color-text-primary", "#23272f");
          root.style.setProperty("--color-text-secondary", "#404756");
          root.style.setProperty("--background-color-active-link", "#e6f7ff");
          root.style.setProperty("--color-border", "#e2e8f0");
        } else {
          root.style.setProperty("--background-color-primary", "#23272F");
          root.style.setProperty("--background-color-secondary", "#343A46");
          root.style.setProperty("--color-text-primary", "#F6F7F9");
          root.style.setProperty("--color-text-secondary", "#E6E7EA");
          root.style.setProperty("--background-color-active-link", "#263541");
          root.style.setProperty("--color-border", "#333333");
        }
      }
    </script>
  </body>
</html>
